name: Release

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  create-release:
    name: Build and create tagged release
    runs-on: ubuntu-latest

    steps:
      - name: Install archive tools
        run: sudo apt install zip

      - name: Checkout source code
        uses: actions/checkout@v4.1.1
        with:
          fetch-depth: 0
          ref: ${{ github.ref_name }}

      - name: Install pnpm
        uses: pnpm/action-setup@v2.4.0
        with:
          version: 8.6.1

      - name: Get variables
        id: get_vars
        run: |
          echo "SHORT_SHA=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT
          echo "DATE=$(date + '%D')" >> $GITHUB_OUTPUT

      - name: Setup node
        uses: actions/setup-node@v4.0.1
        with:
          node-version: 16.x
          cache: 'pnpm'
          cache-dependency-path: 'web/pnpm-lock.yaml'

      - name: Install dependencies
        run: pnpm i
        working-directory: web

      - name: Run build
        run: pnpm build
        working-directory: web
        env:
          CI: false

      - name: Bump manifest change
        run: node .github/actions/bump-manifest-version.js
        env:
          TGT_RELEASE_VERSION: ${{ github.ref_name }}

      - name: Push manifest change
        uses: EndBug/add-and-commit@v9.1.3
        with:
          add: fxmanifest.lua
          push: true
          author_name: Manifest Bumper
          author_email: 41898282+github-actions[bot]@users.noreply.github.com
          message: 'chore: bump manifest version to ${{ github.ref_name }}'

      - name: Update tag ref
        uses: EndBug/latest-tag@latest
        with:
          ref: ${{ github.ref_name }}

      - name: Bundle files
        run: |
          mkdir -p ./temp/ht_mlotool
          mkdir -p ./temp/ht_mlotool/web/
          mkdir -p ./temp/ht_mlotool/saved_mlos/
          mkdir -p ./temp/ht_mlotool/generated_files/
          cp ./{LICENSE,README.md,fxmanifest.lua,utils.lua} ./temp/ht_mlotool
          cp -r ./{docs,client,server} ./temp/ht_mlotool
          cp -r ./web/build ./temp/ht_mlotool/web/
          cd ./temp && zip -r ../ht_mlotool.zip ./ht_mlotool

      - name: Create Release
        uses: 'marvinpinto/action-automatic-releases@v1.2.1'
        id: auto_release
        with:
          repo_token: '${{ secrets.GITHUB_TOKEN }}'
          title: ${{ env.RELEASE_VERSION }}
          prerelease: false
          files: ht_mlotool.zip

        env:
          CI: false
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
